
<div class="bc-image">
  <div *ngIf="!loading" class="container-playlist center">
      <div class="row">
        <div>
        <div>
            <span class="title">Title:</span>
            <span *ngIf = "!edditing"class="track-titles">{{playlist?.title}}</span>
             <input *ngIf = "edditing" type="text" [value] = "playlist?.title" (input) = "onTitleChange(title.value)" #title>
        </div>

        <div class="container-image" [ngStyle]= "{'background-image': 'url('+playlist?.imageUrl+')' , 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                <div class="playlist-details">
                    <h5 class="form-inline">Duration:
                        <span class="indent" >{{playlist?.duration}}</span>
                    </h5>
            
                    <h5 class="form-inline">Created By:
                      <span class="indent" >{{playlist?.username}}</span>
                    </h5>
                    
                    <h5 class="form-inline">Genres:
                    <span class="indent" *ngFor="let genre of playlist?.genres">
                        <span>{{genre}}</span>
                    </span>
                    </h5>
                </div>      
        </div>
        <div class="form-inline">
            <button class="btn btn-primary edit-button" type="button" (click)="editPlaylist()" *ngIf="!editDeleteButtonsDisabled">{{ edditing ? "Done" : "Edit" }}</button>
            <button class="btn btn-primary delete-button" type="button" (click)="deletePlaylist()" *ngIf="!editDeleteButtonsDisabled">{{ edditing ? "Cancel" : "Delete" }}</button>
        </div>
      </div>
        
        <div class="col-md-6 details">
           <div>
             <div>
                <span class="track-titles">Tracks:</span>
                <span class="track-titles">Name</span> 
                <span class="track-titles">Duration</span> 
                <span class="track-titles">Artist</span> 
                <span class="track-titles">Album</span> 
                <span class="track-titles">Genres</span>
                <span class="track-titles">Rank</span> 
             </div>
            <cdk-virtual-scroll-viewport itemSize="20" class="track-container" >
                <div class="form-inline" *cdkVirtualFor="let track of playlist?.tracks">
                    <button class="btn btn-primary play-button" (click)= "play(track.previewUrl)"><i class="fa fa-play-circle play-icon"></i></button>
                    <div class="track-details">
                    <span >{{track?.title}},</span>
                    <span class="indent">{{track?.duration}},</span>
                    <span class="indent">{{track?.artistName}},</span>
                    <span class="indent">{{track?.albumName}},</span>
                    <span class="indent">{{track?.genreName}},</span>
                    <span class="indent">{{track?.rank}}</span>
                  </div>
                </div>
              </cdk-virtual-scroll-viewport>
           </div>
        </div>
      </div>
    </div>
    <player *ngIf="playUrl" [url]="previewUrl" (stop) ="handelStop($event)"></player>
    <div *ngIf="loading" class="loading-animation center-loading">
      <div class="loader"></div>
      <div class="loaderbefore"></div>
      <div class="circular"></div>
      <div class="circular another"></div>
  </div>
  </div>
