.bc-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/black-and-white-brand-data.jpg);
    opacity: 0.9;
  }

  .text-labels{
    font-family: Arial;
    text-transform: uppercase;
    animation: opaa 10s infinite;
  }

  .container{
    background-color: rgba(50, 55, 62, 0.7);
    border: 0.5px solid white;
    border-radius: 1%;
    padding:5%;
  }

  .viewport {
    height: 420px;
    width: 960px;
  }
  .button-size{
    width: 80px;
  }
  



