.bc-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/headphone.png);
    opacity: 0.9;
  }
.container-list{
  width: 80%;
  height: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-flex;
}

.container-list .wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}
.container-list .wrapper .box{
  background-color: rgba(0, 0, 0, 0.4);
  width: 380px;
  height: 220px;
  margin: 10px;
  border-radius: 1px;
  overflow: hidden;
  border: 1px solid white;
  
}

.container-list .wrapper .box:hover{
  background-color: rgba(126, 126, 126, 0.3);
  border: none;
}