
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/" >Playlist Generator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

      <li *ngIf = "!loggedUser" class="nav-item">
        <a class="nav-link" routerLink="/login" >Login</a>
      </li>
    
    <li *ngIf = "loggedUser" class="nav-item">
      <a class="nav-link" routerLink="/" (click)="lagout()">Logout</a>
    </li>

      <li *ngIf = "!loggedUser" class="nav-item">
        <a class="nav-link" routerLink="/registration">Register</a>
      </li>

      <li *ngIf = "loggedUser" class="nav-item">
        <a class="nav-link" routerLink="/user">{{loggedUser.firstName}} {{loggedUser.lastName}}</a>
      </li>

      <li *ngIf = "loggedUser" class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>

      <li *ngIf = "loggedUser" class="nav-item">
        <a class="nav-link" routerLink="/playlist">Create Playlist</a>
      </li>

    </ul>
  </div> 
</nav>  
<router-outlet></router-outlet>
