
<div class="container margin-container">
    <div class="row">
        <div class="col-sm-3">
            <img *ngIf="hasImage" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/png;base64,'+user?.avatar)" class="img-thumbnail" style="max-width:100%; max-height:100%" alt="Avatar">
            
                <input style="display: none" type="file"
                (change)="onUploadPicture($event)"
                #avatar>
            <button *ngIf = "edditing" type="button" class="btn btn-primary btn-sm" (click)="avatar.click()">Change Image</button>
            <button  *ngIf="!hasImage" type="button" class="image-button" (click)="avatar.click()"></button>
        </div>
      <div class="col">
              <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th>Username</th>
                          <th>Email</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td *ngIf = "!edditing">{{user?.username}}</td>
                            <td *ngIf = "edditing">
                                <input type="text" [value] = "user.username"
                                (input) = "onUsernameChange(name.value)"
                                #name>
                            </td>
                            <td *ngIf = "!edditing">{{user?.email}}</td>
                            <td *ngIf = "edditing">
                                <input type="text" [value] = "user.email"
                                (input) = "onEmailChange(email.value)"
                                #email>
                            </td>
                            <td *ngIf = "!edditing">{{user?.firstName}}</td>
                            <td *ngIf = "edditing">
                                <input type="text" [value] = "user.firstName"
                                (input) = "onFirstNameChange(firstName.value)"
                                #firstName>
                            </td>
                            <td *ngIf = "!edditing">{{user?.lastName}}</td>
                            <td *ngIf = "edditing">
                                <input type="text" [value] = "user.lastName"
                                (input) = "onLastNameChange(lastName.value)"
                                #lastName>
                            </td>
                            <td>
                              <button type="button" class="btn  btn-sm button-bc" (click)="doneEditting()">{{edditing? "Done" : "Edit"}}</button>
                            </td>
                           
                        </tr>
                      </tbody>
                    </table>
    </div>
  </div> 
</div> 

  