.image-button{
    
    background-image: url(../../assets/avatar.png);
    background-size: 100%;
    width: 100%;
    height: 250px;
    
  }
  .button-bc{
    background-color: rgba(8, 8, 8, 0.3);
  }

  .margin-container{
      margin-top: 50px;
  }
  .imgage-size{
    height: 150px;
    width: auto;
  }

  .inline-box {
    display: inline-block;
  
  }

  .carousel-div-size{
    background-color:  rgba(8, 8, 8, 0.7);
     height: 300px;
     width: auto;
  }